html,
body {
  height: 100vh;
  background-color: #242424;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > * {
    margin-top: 1rem;
  }
}

.webview-ui {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  border: none;
  background-color: #222222;
}